<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Welcome page</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Welcome to password manager application</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <b>private key:&nbsp;</b>{{privateKey}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <b>Add New Password:&nbsp;</b><a href="/#!/auth">New Password</a>
                </div>
                <div class="col-md-4">
                    <b>sign out:&nbsp;</b><a href="/#!/logout">logout</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p><b>user permissions:</b> <span>edit password:- <i>yes</i> <i class="fa fa-edit" style="color:green"></i> <i>no:</i><i class="fa fa-edit" style="color:red"></i>&nbsp; <span>share password:- <i>yes</i> <i class="fa fa-share" style="color:green"></i> <i>no:</i><i class="fa fa-share" style="color:red"></i></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Search fields</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p><input type="text" class="form-control" placeholder="enter url ..." name="url-search"></p>
                </div>
                <div class="col-md-3">
                    <p><input type="text" class="form-control" placeholder="enter username ..." name="u-search"></p>
                </div>
                <div class="col-md-3">
                    <p><input type="text" class="form-control" placeholder="enter email ..." name="e-search"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table border="1" class="table">
                            <tr>
                                <th>id</th>
                                <th>site username</th>
                                <th>website url</th>
                                <th>email</th>
                                <th>Password</th>
                                <th>user permission</th>
                            </tr>
                            <tr ng-repeat="(x,y) in accounts">
                                <td>{{x+1}}</td>
                                <td>{{y.uid}}</td>  
                                <td>{{y.site_url}}</td>  
                                <td>{{y.mail}}</td>  
                                <td>
                                    <input type="password" value="{{y.password}}" disabled/>
                                    <button class="btn btn-primary btn-sm" data-toggle="tooltip" title="view" ng-click="decrypt(y.id,y.password)" value="{{y.password}}"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                    <button data-toggle="modal" data-target="#u_share" class="btn btn-primary btn-sm" ng-click="popshare(y.id,y.password)"><i class="fa fa-share" aria-hidden="true"></i></button>
                                    <button data-toggle="modal" data-target="#u_pass" ng-click="modal(y.id)" data-placement="left" class="btn btn-primary btn-sm"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                </td>
                                <td>
                                    share:&nbsp;<i class="fa fa-share" aria-hidden="true" style="color:red"></i>
                                    edit:&nbsp;<i class="fa fa-edit" aria-hidden="true" style="color:green"></i>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="u_share" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Share password</h4>
                    </div>
                    <div class="modal-body">
                        <h5>Users</h5>
                        <div ng-repeat="y in users">
                            <div class="form-group">
                                <input type="checkbox" ng-model="y.selected" value="{{ y.id }}"/>
                                <label>{{y.id}}</label>
                            </div>
                        </div>
                        <input type="text" ng-model="spassword" ng-value="spassword" name="shpassword"/>
                        <input type="text" ng-model="accountid" ng-value="accountid" name="accountid"/>
                        <label>Read write permission</label>
                        <input type="radio" name="readwrite" value="true"><label>allow</label>
                        <input type="radio" name="readwrite" value="false"><label>deny</label>
                        <label>Reshare permission</label>
                        <input type="radio" name="reshare" value="true"><label>allow</label>
                        <input type="radio" name="reshare" value="false"><label>deny</label>
                        <button type="button" ng-click="share()" class="btn btn-success btn-sm">share</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="u_pass" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Change password</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="p_password">Enter previous password</label>
                            <input type="password" ng-model="p_password" name="p_password" id="p_password" required class="form-control" placeholder="Enter previous password to confirm change of password"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Enter New Password</label>
                            <input type="password" id="password" ng-model="password" name="password" required class="form-control" placeholder="Enter new password"/>
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Confirm new Password</label>
                            <input type="password" ng-model="confirm_password" id="confirm_password" required name="confirm_password" class="form-control" placeholder="Confirm new password"/>
                            <input type="hidden" ng-model="accountid" name="accountid" required class="form-control" />
                        </div>
                        <button type="button" class="btn btn-success btn-sm" ng-click="changepassword()"/>change password</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">close</button>
                    </div>
                </div>
            </div>
        </div>

