        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Login Page</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>Welcome! Enter masterkey to continue</p>
                    
                    <hr>

                    <p><input type="password" class="form-control" placeholder="Enter Master Key" ng-model="masterkey" required /></p>
                    <p><input type="password" class="form-control" placeholder="Enter New Encryption Key" ng-model="encryptionkey" required /></p>

                    <hr>

                    <p><button type="button" class="btn btn-success form-control" ng-click="login()">Login</button></p>

                    <hr>

                    <p><a href="/#!/signup">First time here? <b>Get a master key now</b></a></p>
                </div>
            </div>
        </div>
