        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Welcome page</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Welcome to password manager application</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <b>private key:&nbsp;</b>{{privateKey}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <b>View Accounts:&nbsp;</b><a href="/#!/accounts">Acconts page</a>
                </div>
                <div class="col-md-4">
                    <b>sign out:&nbsp;</b><a href="/#!/logout">logout</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <h4>Create Password</h4>
                    <div class="form-group">
                        <label for="username">Account Username</label>
                        <input type="text" name="username" id="username" class="form-control" ng-model="username" placeholder="enter account username"/>
                    </div>
                    <div class="form-group">
                        <label for="email">Account Email</label>
                        <input type="email" name="email" id="email" class="form-control" ng-model="email" placeholder="Enter account email"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Account Password</label>
                        <input type="password" name="password" id="password" class="form-control" ng-model="password" placeholder="enter password"/>
                    </div>
                    <div class="form-group">
                        <label for="cpassword">Confirm Password</label>
                        <input type="password" name="confirm_password" id="confirm_password" class="form-control" ng-model="confirm_password" placeholder="Confirm password"/>
                    </div>
                    <div class="form-group">
                        <label for="website_url">Website Url/Domain Controller url</label>
                        <input type="text" name="website_url" id="website_url" class="form-control" ng-model="website_url" placeholder="Enter Sites Url"/>
                    </div>
                    <p><button type="button" class="btn btn-success" ng-click="process()">process account</button></p>
                </div>
            </div>
        </div>
