        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>sign up page</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>Welcome to your new page,Enter new masterkey to begin</p>
                    
                    <hr>

                    <form method="post" name="myform" action="">
                    <p><input type="password" class="form-control" placeholder="Enter New Master Key" ng-model="masterkey" required /></p>

                    <hr>

                    <p><button type="button" class="btn btn-success form-control" ng-click="signup()">Create Session</button></p>
                    </form>
                    <p><a href="/#!/masterkey">Already have a master key:&nbsp;<b>use this page to continue</b></a></p>
                    <button type="button" ng-click="tryalice()" class="btn btn-success btn-sm">try alice</button>

                    <hr>

                </div>
            </div>
        </div>
